{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Добавление одежды</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-6">
            <p>
                {{ form.type.label }} {{ form.type(class="no-bullet") }}<br>
                {% for error in form.type.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.functionality.label }} {{ form.functionality(class="no-bullet") }}<br>
                {% for error in form.functionality.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.season.label }} {{ form.season(class="no-bullet") }}<br>
                {% for error in form.season.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                <button type="submit" name="find_clothes" class="btn btn-primary">Найти одежду</button>
            </p>
        </div>
        <div class="col-md-6">
            {% if clothes %}
                <p>Возможная одежда</p>
                {% for item in clothes %}
                    <p>
                        <input type="radio" id="item_{{item.id}}" name="item_id" value="{{item.id}}">
                        <label for="item_{{item.id}}">{{item.name}}</label>
                        <img src="{{path}}/{{item.id}}.png" style="height: 350px; width: 400px; margin-left: 20px;" class="item-image">
                    </p>
                {% endfor %}
                <br>
                <input type="submit" value="Добавить" class="btn btn-primary">
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}