{% extends "base.html" %}

{% block content %}
<p>
<h1 style="text-align: center;">Создание образа</h1>
</p>
<div class="my_style">
    </p>
    <div class="collapse show multi-collapse w-100" id="my_style">
        <div class="card mb-3 w-100">
            <div class="card-header text-start" style="font-weight: bold; font-size: 18px; width: 100%;">
                <span class="badge align-items-center px-2 pe-3 pt-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill fs-6">
                    <img class="me-2 rounded-circle me-1" width="24" height="24" src="/static/img/avatars/image{{ current_user.id }}.png" alt="">{{current_user.nickname}}
                </span>
            </div>
            <div class="card-body">
            <div class="card-container" style="display: flex; flex-wrap: wrap;">
            {% for clothes in custom_look.clothes %}
                <div class="card" style="width: 389px; margin: 10px; overflow: hidden;">
                <div class="card-header text-center" style="font-weight: bold; font-size: 18px;">{{clothes.name}}</div>
                <img src="{{path}}/{{clothes.image}}" style="height: 350px; width: 400px; max-width: 100%;" class="mx-auto mt-4">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Тип: {{clothes.types.type}}</li>
                        <li class="list-group-item">Сезон: {{clothes.seasons.season}}</li>
                    </ul>
                </div>
                <div class="card-footer text-end">
                    <a class="btn-close mt-2" type="button" href="/delete_clothes_in_looks/{{ custom_look.id }}/{{ clothes.id }}"></a>
                </div>
                </div>
            {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="outer">
    <a class="btn btn-outline-warning rounded-pill dropdown-toggle mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#outer" aria-expanded="false" aria-controls="outer">
        Верхняя одежда
    </a>
    </p>
    <div class="collapse" id="outer">
    <div class="card card-body">
        <div class="card-container" style="display: flex; flex-wrap: wrap;">
        {% for item in outer%}
            <div class="card" style="width: 400px; margin: 10px; overflow: hidden;">
            <div class="card-header text-center" style="font-weight: bold; font-size: 18px;">{{item.name}}</div>
            <img src="{{path}}/{{item.image}}" style="height: 350px; width: 400px;" class="mx-auto mt-4">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Тип: {{item.types.type}}</li>
                    <li class="list-group-item">Сезон: {{item.seasons.season}}</li>
                </ul>
            </div>
            <div class="card-footer text-end">
              <a class="btn btn-outline-warning p-1 px-2" href="/add_clothes_to_looks/{{ custom_look.id }}/{{ item.id }}" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#e1b409" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                </svg>
              </a>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
</div>
<br>
<div class="top">
    <a class="btn btn-outline-warning rounded-pill dropdown-toggle mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#top" aria-expanded="false" aria-controls="top">
        Верхняя лёгкая одежда
    </a>
    </p>
    <div class="collapse" id="top">
    <div class="card card-body">
        <div class="card-container" style="display: flex; flex-wrap: wrap;">
        {% for item in top%}
            <div class="card" style="width: 400px; margin: 10px; overflow: hidden;">
            <div class="card-header text-center" style="font-weight: bold; font-size: 18px;">{{item.name}}</div>
            <img src="{{path}}/{{item.image}}" style="height: 350px; width: 400px;" class="mx-auto mt-4">
            <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Тип: {{item.types.type}}</li>
                        <li class="list-group-item">Сезон: {{item.seasons.season}}</li>
                    </ul>
            </div>
            <div class="card-footer text-end">
              <a class="btn btn-outline-warning p-1 px-2" href="/add_clothes_to_looks/{{ custom_look.id }}/{{ item.id }}" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#e1b409" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                </svg>
              </a>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
</div>
<br>
<div class="lower mb-4">
    <a class="btn btn-outline-warning rounded-pill dropdown-toggle mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#lower" aria-expanded="false" aria-controls="lower">
        Поясная одежда
    </a>
    </p>
    <div class="collapse" id="lower">
    <div class="card card-body">
        <div class="card-container" style="display: flex; flex-wrap: wrap;">
        {% for item in lower%}
            <div class="card" style="width: 400px; margin: 10px; overflow: hidden;">
            <div class="card-header text-center" style="font-weight: bold; font-size: 18px;">{{item.name}}</div>
            <img src="{{path}}/{{item.image}}" style="height: 350px; width: 400px;" class="mx-auto mt-4">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Тип: {{item.types.type}}</li>
                    <li class="list-group-item">Сезон: {{item.seasons.season}}</li>
                </ul>
            </div>
            <div class="card-footer text-end">
              <a class="btn btn-outline-warning p-1 px-2" href="/add_clothes_to_looks/{{ custom_look.id }}/{{ item.id }}" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#e1b409" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                </svg>
              </a>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
</div>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
        <p>
        <div class="col-md-6">
        <fieldset class="mb-4 text-start">
            <legend class="fs-5 text-secondary-emphasis">Стиль</legend>
            {% for item in form.style %}
              <div class="form-check">
                {{item(type="radio", class="form-check-input", id="style_{{item.label}}")}}
                {{item.label(class="form-check-label text-secondary-emphasis", for="style_{{item.label}}")}}
              </div>
            {% endfor %}
        </fieldset>
        </p>
        <p>
        <fieldset class="mb-4 text-start">
            <legend class="fs-5 text-secondary-emphasis">Сезон</legend>
            {% for item in form.season %}
              <div class="form-check">
                {{item(type="radio", class="form-check-input", id="season_{{item.label}}")}}
                {{item.label(class="form-check-label text-secondary-emphasis", for="season_{{item.label}}")}}
              </div>
            {% endfor %}
        </fieldset>
        </p>
        </div>
        <p>
        <div class="col-md-6">
        <fieldset class="mb-4 text-start">
            <legend class="fs-5 text-secondary-emphasis">Характеристика</legend>
            {% for item in form.sex %}
              <div class="form-check">
                {{item(type="radio", class="form-check-input", id="sex_{{item.label}}")}}
                {{item.label(class="form-check-label text-secondary-emphasis", for="sex_{{item.label}}")}}
              </div>
            {% endfor %}
        </fieldset>
        </p>
        <p>
        <div class="input-group">
            {{ form.description.label(class="input-group-text") }}
            {{ form.description(class="form-control") }}
        </div>
        </p>
        {% if message %}
            <div class="alert alert-warning p-2" role="alert">
                {{message}}
            </div>
        {% endif %}
        <p>
            <button type="submit" name="find_clothes" class="btn btn-outline-warning">Предложить образ</button>
        </p>
        </div>
</form>
{% endblock %}